[defaults]
host_key_checking=False
timeout = 15

# plays will gather facts by default, which contain information about
# the remote system.
#
# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True
gathering = explicit

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
remote_user = deploy

# retry files
# When a playbook fails by default a .retry file will be created in ~/
# You can disable this feature by setting retry_files_enabled to False
# and you can change the location of the files by setting retry_files_save_path
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o ForwardAgent=yes
control_path = %(directory)s/%%h-%%r

[paramiko]
record_host_keys=False
